{
	"presets": [
		"next/babel"
		// ["@babel/preset-env", { "targets": { "node": "current" } }]
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": ["./"],
				"alias": {
					"@components": "./src/components"
				}
			}
		]
	]
}
