{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": 2020,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	},
	"extends": [
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier/@typescript-eslint",
		"plugin:prettier/recommended"
	],
	"rules": {
		"quotes": ["error", "double"],
		// Indent with 4 spaces
		"indent": ["error", "tab"],
		// Indent JSX with 4 spaces
		"react/jsx-indent": ["error", "tab"],
		// Indent props with 4 spaces
		"react/jsx-indent-props": ["error", "tab"],
		"react-hooks-nesting": true,
		"prettier/prettier": [
			"error",
			{
				"endOfLine": "auto"
			}
		]
	},
	"env": {
		"browser": true,
		"jest": true
	}
}
